.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectItem {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.projectItem:hover {
  font-weight: bolder;
}
